---
layout: base.njk
page: 
    title: ServerlessDays Virtual - Speakers
    description: One Day. One Track. One Community
    url: https://virtual.serverlessdays.io/speakers
    image: https://virtual.serverlessdays.io/img/og/17.png
---
<div class="w-100">
    <div class="ph3 ph0-ns pt3 w-100 center">
        <div class="w-100 w-90-m w-80-l center tc tl-ns">
            <h1 class="f1 black">Speakers</h1>
                {% for speaker in speakers %}
                <span class="w5 pa2 ph3-m ph4-l v-top center tc dib">
                    <a class="no-underline center" href="{{ speaker.link }}">
                        <img class="bn br4 b--transparent w5 h5 cover shadow-7" src="{{ speaker.img }}" alt="Image of {{ speaker.name }}" />
                        <p class="f3 pt2 black tc">{{ speaker.name }}</p>
                    </a>
                </span>
                {% endfor %}
        </div>
        <div class="cf">
        </div>
    </div>
</div>