<div class="w-100 primaryColor z-1 white">
    <div class="tc pt3 pt4-ns z-2">
        {% for item in nav %}
            <a class="no-underline white pa2 f6 ma2" href="{{ item.path }}">{{ item.name }}</a>
        {% endfor %}
        <div class="w-100 w-80-ns pv3 flex flex-wrap justify-center center tc">
            <a class="no-underline white pa2 ma2 f6 pointer" href="/privacy/">Privacy Policy</a>
        </div>
    </div>
</div>