<div class="w-100 w-60-m w-50-l dt center white">
    {% for item in schedule %}
        <div class="dt-row">
            <div class="dtc ph2 pv3 b dark-green v-mid w-20">
                {% for start in item.startTime %}
                    <div class="pv1">
                        {{ start }}
                    </div>
                {% endfor %}
            </div>
            <div class="dtc dark-gray pv3 v-mid w-80">
                <a class="db no-underline pv1 black pl2 pr4 pt2 b f3 pointer" href="{{ item.speakers[0].url }}">
                    {{ item.sessionName }}
                </a>
                <div class="db ph2 pv1">
                    {% for speaker in item.speakers %}
                        <a class="db no-underline pv1 black b pointer" href="{{ speaker.url }}">
                            <img class="ph1 w3 h3 v-mid ba br3 b--transparent" src="{{ speaker.img }}" alt="Speaker headshot"/>
                            <span class="ph1 v-mid">{{ speaker.name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>