<div class="w-100 bg-black white pv5">
    {% for item in speakers %}
        <div class="pb3 mh3 mb4 w-100 w-60-ns center">
            <img class="w45 h45 ba br3 b--near-white bw1 dib" src="{{ item.img }}" alt="Profile photo of {{ item.name }}"/>
            
            <div class="dib v-top">
                <div class="ph2 pb1 b f3 mw7">
                    {{ item.talk }}
                </div>
                <div class="ph2 pv1">
                    <a href="{{ item.link }}" class="no-underline white pointer f4">
                        {{ item.name }}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>