<div class="w-100 bg-white dark-gray pv5">
    {% for item in speakers %}
        <div class="pb3 mh3 mb4 w-100 w-60-ns center flex flex-wrap justify-center">
            <div>
                <a href="{{ item.link }}" class="no-underline dark-gray pointer">
                    <img class="w45 h45 ba br3 b--transparent" src="{{ item.img }}" alt="Profile photo of {{ item.name }}"/>
                </a>
            </div>
            <div class="dib-ns v-top tc tl-ns">
                <div class="ph2 pb1 b f3 mw7">
                    {{ item.talk }}
                </div>
                <div class="ph2 pv1">
                    <a href="{{ item.link }}" class="no-underline dark-gray pointer f4 tc tl-ns">
                        {{ item.name }}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>