<div class="flex flex-wrap items-center justify-between">
    {% for sponsor in sponsors %}
        <a class="no-underline pointer db dib-ns w-100 w-auto-ns center mv3" href="{{ sponsor.link }}">
            <img class="pr2 pv2" src="{{ sponsor.img }}" alt="{{ sponsor.name }}"/>
        </a>
    {% endfor %}
</div>