<iframe class="ba br3 b--transparent" width="720" height="405" src="https://www.youtube-nocookie.com/embed/{{ event.youtube.id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>