<!DOCTYPE html>
<html lang="en">
   <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta property="og:title" content="{{ pastEvent.name }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ pastEvent.description }}">
    <meta property="og:url" content="/events/{{ pastEvent.id }}">
    <meta property="og:image" content="{{ pastEvent.image }}">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="description" content="{{ pastEvent.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ pastEvent.name }}">
    <meta name="twitter:site" content="{{ event.twitter }}">
    <meta name="twitter:description" content="{{ pastEvent.description }}">
    <meta name="twitter:url" content="/events/{{ pastEvent.id }}">
    <meta name="twitter:image" content="{{ pastEvent.image }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{ event.favicon }}" type="image/x-icon"/>
    </head>
    <body class="avenir w-100">
      {% include 'components/register.njk'%}
      {% include 'components/navBar.njk' %}
        {{ content | safe }}
    </body>
    {% include 'components/footer.njk' %}
    <script src="/js/formSubmit.js"></script>
</html>