.primaryColor { color: #82C457; }
.primaryBkg { background-color: #fff; }
.primaryBorder { border-color: #82C457; }
.contrastColor { color: #fff; }
.contrastBkg { background-color: #82C457; }
.contrastBorder { border-color: #fff; }
.accentColor { color: green }
.accentBkg { background: green }
.secondaryColor { color: maroon}
.secondaryBkg { background: #f3ecda}
.secondaryContrastColor { color: #f3ecda}
.secondaryConstrastBkg { background: maroon}
.tertiaryColor { color: #ffffff}
.tertiaryBkg { background: #1e656d}
.tertiaryContrastColor { color: #1e656d}
.tertiaryContrastBkg { background: #ffffff}

.scroll-bg {
    -webkit-animation-name: scrollLarge;
    animation-name: scrollLarge;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bg-gradient-teal {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,255,229,1) 10%, rgba(130,196,87,1) 50%,rgba(240,255,229,1) 90%,rgba(255,255,255,1) 100%);
}

.bg-dino {
    background: #82C457;
}

.dino {
    color: #82C457;
}

.bg-dino-o70 {
    background: rgba(130,196,87,0.7);
}

.bg-button-gradient{
    background: linear-gradient(145deg, #75b04e, #8bd25d);
}

.shadow-6 {
    box-shadow:  30px 30px 60px #609140, 
                -30px -30px 60px #a4f76e;
}

.shadow-7 {
    box-shadow: 0px 6px 10px rgba(0,0,0,0.9);
}

.hero-box-1 {
    -webkit-clip-path: polygon(100% 50%,100% 0,0% 0,0% 100%);
    clip-path: polygon(100% 50%,100% 0,0% 0,0% 100%);
}

.scheduleHeader::after {
    content: '';
    display: block;
    height: 12px;
    margin-top: -15;
    margin-left: -5;
    width: 50%;
    background: #8cff8c;
}

.lumo-green {
    color: #8cff8c;
}

.w-05 { width: 5% }
.w-12 { width: 12.5% }
.w-16 { width: 16.5% }
.w-45 { width: 45% }
.w-32 { width: 32% }
.w-48 { width: 48% }

.h45 { height: 12rem }
.w45 { width: 12rem }
.w35 { width: 6rem }


@media screen and (min-width: 30em) {
    .heroImage-ns {
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    .shiftRight60-ns { margin-right: -60px }
    .shiftRight75-ns { margin-right: -75px }
    .shiftRight90-ns { margin-right: -90px }
    .shiftUp240-ns { margin-top:-240px }
    .w-48-ns { width: 48% }
    .w-32-ns { width: 32% }
    .w-45-ns { width: 45% }
    .w-16-ns { width: 16.5% }
    .w-12-ns { width: 12.5% }
    .w-05-ns { width: 5% }
    .shadow-6-ns { box-shadow: 0px 0px 24px 24px rgba(0, 0, 0, 0.2); }
    .hero-clip-ns {clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);}
}

@media screen and (min-width: 60em) {
    .heroImage-l {
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    .shiftRight60-l { margin-right: -60px }
    .shiftRight75-l { margin-right: -75px }
    .shiftRight90-l { margin-right: -90px }
    .shiftUp240-l { margin-top:-240px }
    .w-48-l { width: 48% }
    .w-32-l { width: 32% }
    .w-45-l { width: 45% }
    .w-16-l { width: 16.5% }
    .w-12-l { width: 12.5% }
    .w-05-l { width: 5% }
    .shadow-6-l { box-shadow: 0px 0px 24px 24px rgba(0, 0, 0, 0.2); }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .shiftRight60-m { margin-right: -60px }
    .shiftRight75-m { margin-right: -75px }
    .shiftRight90-m { margin-right: -90px }
    .shiftUp240-m { margin-top:-240px }
    .shiftUp90-m { margin-top:-90px }
    .w-48-m { width: 48% }
    .w-32-m { width: 32% }
    .w-45-m { width: 45% }
    .w-16-m { width: 16.5% }
    .w-12-m { width: 12.5% }
    .w-05-m { width: 5% }
    .shadow-6-m { box-shadow: 0px 0px 24px 24px rgba(0, 0, 0, 0.2); }
}