---
layout: base.njk
page:
    title: "ServerlessDays Virtual"
    description: "ServerlessDays goes Virtual! Join us as we take ServerlessDays online so you can enjoy it from wherever you may be!"
    image: ""
---
<div class="w-100">
    <div> 

    </div>
</div>